@charset 'UTF-8';


h4{
    font-weight: normal;
    font-size: 1.4rem;
    margin-bottom:3rem;
}
a{
    text-decoration: none;
}

/*    ---------ボタン---------    */
.button1{
    width: 30%;
    background-color: #fcacba;
    border-bottom:7px solid rgb(255, 111, 135);
    padding:1rem;
    box-shadow: 0 3px 4px black;
    cursor: pointer;
    transition: all .8s;
}
.button1 p{
    color:#ffffff;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;  
}
.button1:hover{
    margin-top:5px;
    border-bottom: 1px solid #fcacba;
}

/*    ---------モーダル---------    */
.sample-modal{
    width: 90%;
    background-color: aliceblue;
    margin:auto;
    padding:3rem;
}
#open,#close{
    padding:10px;
    background-color: #fcacba;
    width: 40%;
    text-align: center;
    cursor: pointer;
    margin:auto;
    font-weight: bold;
    font-size: 1.4rem;
    color: #ffffff;
    border-radius: 8px;
}
#close{
    margin-top:2rem;
}
#mask{
    background-color: rgb(0, 0, 0,.8);
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom:0;
}
#modal{
    background-color: rgb(255, 200, 80);
    width: 350px;
    margin:auto;
    padding:2rem;
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: auto;
    text-align: center;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    z-index:20;
    transition: transform 0.5s;
}
#mask.hidden{
    display: none;
}
#modal.hidden{
    transform:translate(-50%,-1000px)
}

/*    ---------モーダル2---------    */
#open2{
    padding:10px;
    background-color: azure;
    width: 350px;
    text-align: center;
    margin:auto;
    cursor: pointer;
    box-shadow: 0px 4px 8px black;
}
#close2{
    cursor: pointer;
}
#open2:hover{
    background-color: #74ffab;
}
.hidden2{
    display: none;
}
#mask2{
    background-color: rgb(0, 0, 0,0.8);
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
}
#modal2{
    background-color: rgb(255, 255, 255);
    width: 600px;
    margin:auto;
    padding:2rem;
    position: relative;
    z-index: 21;
    margin: auto;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}
#modal2 .hidden2{
    display: none;
}
.text2{
    padding:20px;
    text-align: center;
}

/* アナウンススクロールするとふわっと */
.box{
    width: 300px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.8);
    margin:20px;
    margin:100px auto;
    border-radius: 8px;
}
#look-me{
    position:fixed;
    bottom:200px;
    right: 200px;
    width: 300px;
    height: 300px;
    background-color: rgb(206, 206, 255);
    visibility: hidden;
    transition: 2s;
    opacity: 0;
    text-align: center;
    padding:30px;
}
#look-me.on{
    visibility: inherit;
    opacity: 1;
}


/*    ---------基本のレイアウト---------    */
body{
    width: 100%;
    margin:auto;
}
/* .wrapper{
    width: 100%;
    background: linear-gradient( rgba(255, 0, 234, 0.2),rgba(255, 255, 255), rgba(255, 0, 234, 0.3));
    margin:0 auto;
} */
/* header,footer{
    width: 100%;
    padding:40px;
    
} */
main,section{
    padding:40px;
    width: 80%;
}
header,section{
    margin-bottom:40px;
}

li{
    list-style: none;
}
ul{
    display: flex;
    justify-content: space-between;
}


section{
    background-color: rgb(215, 250, 234);
}
header{
    background-color: rgb(217, 252, 253);
}
footer{
    background-color: rgb(217, 252, 253);
}
.visibility{
    color: #ff0000;
}

.usiro{
    position: relative;
}


.mae{
    position: absolute;
    top:30px;
    left:0px;
    padding:10px;
    background-color: #ff0000;
    
}

.haikei{
    margin: auto;
}
 .section1{
    text-align: center;
    /* background-color: (rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)); */
    /* background-image: url(../img/woodhouse.jpg); */
    

    background: linear-gradient(130deg, rgba(0, 0, 0, 0.6), rgba(254, 225, 64, 0.6)),
    url(../img/woodhouse.jpg);

    background-size: cover;
 }



