@charset 'UTF-8';
* {
    box-sizing: border-box;
}
html {
    font-size: 100%;
}

.wrapper{
    width: 100%;
    /* background-color:rgb(185, 185, 185); */
    margin: 0 auto;
}
/* フォント */
h1{
    font-size: 2.4rem;
}
p{
    font-size: 1rem;
    line-height: 1.7;
    /* ラインヘイトには単位を書かないこと親要素の指定を継承してしまうので */
}
/* 余白 */
.wrapper{
    padding:2.5rem;
}
header,section{
    margin-bottom: 5rem;
    border: 1px solid #636363;
}

header{
    /* background-color: rgb(214, 252, 218); */
    width: 100%;
}
section{
    /* background-color: rgb(220, 220, 220); */
    width: 100%;
}
.tairuA img{
    /* 引数のうち小さい方が採用される */
    /* 500px、または、親要素の100%幅のどちらか小さい方で表示してくれる */
    /* スマホの時は、1行に1タイル */
    /* タブレットの時は、1行に2タイル */
    /* PCの時は、1行に3タイル */
    width: min(500px, 100%);
    height: auto;
}
.tairuB img{
    /* 引数のうち大きい方が採用される */
    /* 200px、または、親要素の100%幅のどちらか大きい方で表示してくれる */
    /* 小さいスマホでも画像がはみ出すことがありません */
    /* スマホの時は、1行に1タイル */
    /* タブレットの時は、1行に2タイル */
    /* PCの時は、1行に4タイル */
    /* width: min(300px, 100%);
    height: auto; */
    max-width:100%;
    width:300px;
    
}
.tairuA,.tairuB{
    width: 100%;
    text-align: center;
}
.hosoku{
    background-color: #c7d7ff;
}
span{
    color: red;
}
.tag{
   background-color: rgb(206, 206, 206);
   display: inline-block;
   border-radius: 16px;
   padding:4px 16px;
}


