@charset "UTF-8";
/*    --------- 共通 ---------    */
html {
    font-size: 100%;
}
body{
    font-family:  "Klee One","Noto Serif JP", "Noto Sans JP",  "cursive", serif, sans-serif;
    line-height: 1.7;
    color: rgb(23, 23, 23);
}
a {
    text-decoration: none;
    color:inherit;
}
img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}
.img-frame{
    margin: 1rem 0rem;
    border: 1px solid rgb(204, 204, 204,0.6);
}
li{
    list-style: none;
}
h2{
    margin: 2rem 0 1.4rem;
}
h3{
    border-bottom: 1px solid rgb(204, 204, 204,0.6);
    margin: 0 0 1.6rem;
}
.p-center{
    text-align: center;
}
.p-right{
    text-align: right;
}
/*    --------- 全体レイアウト ---------    */
.wrapper{
    max-width: 1100px;
    margin:0 auto;
    padding:0 4%;
    display: flex;
    justify-content: space-between;
}
section{
    margin-bottom: 6rem;
}
.wrapper-big{
    text-align: center;
}
aside{
    width: 18%;
}
article{
    width: 74%;
}
header,footer{
    max-width: 1100px;
    margin:0 auto;
    padding:2% 0 2%;
}
header{
    border-bottom: 1px solid rgb(204, 204, 204,0.6);
}
footer{
    border-top: 1px solid rgb(204, 204, 204,0.6);
}

/*    --------- ヘッダー ---------    */
header{
    display: flex;
    justify-content: space-between;
}
header a{
    display: block;
}
header a:hover{
    background-color:rgb(204, 204, 204,0.3) ;
}

/*    --------- asideメニュー ---------    */
aside{
    margin:2% 0;
}
aside li{
    border-bottom: 1px solid rgb(204, 204, 204,0.6);
    margin-bottom:1.4rem;
}
aside nav ul a{
    display: block;
}
aside nav ul a:hover{
    background-color:rgb(204, 204, 204,0.3) ;
}

/*    --------- バナー ---------    */
.banner{
    display: flex;
    padding:0% 0% 10% 0%;
    gap:1rem;
}
.banner img{
    display: inline-block;
    width: 58%;
}

/*    --------- webサイト ---------    */
.white{
    padding:0.14rem 0.2rem;
    border: 1px solid rgb(204, 204, 204,0.6);
    background-color: #ffffff;
}
.gold{
    padding:0.14rem 0.2rem;
    background: linear-gradient(270deg, #c9ab1b, #f8e72b);
}
.navy{
    padding:0.14rem 0.2rem;
    background-color: #222136;
    color:#ffffff
}
.yohaku4{
    padding-bottom:4rem;
}
.yohaku1{
    padding-bottom:1rem;
}
.tax-flex{
    display: flex;
    gap:3rem;
}

/*    --------- スキル・自己紹介 ---------    */
.profile img{
    margin:0 0 1rem 1rem;
}
.skill-wrappper{
    display: flex;
    justify-content: left;
    gap:1rem;
}
.skill{
    width: 25%;
}
.skill p{
    border-bottom: 1px dashed rgb(204, 204, 204);
    margin-bottom:1rem;
}

/*    --------- 仕事歴 ---------    */
.management{
    display: flex;
    padding-bottom:2rem;
}
.manage-left{
    width: 9%;
}

/*    --------- 現在 ---------    */
.now{
    display: flex;
    padding-bottom:2rem;
}
.now-left{
    width: 20%;
}

/*    --------- フッター ---------    */
/*    --------- 木の家 ---------    */

/*    --------- レスポンシブ対応 ---------    */
@media (max-width: 600px) {
    /*    --------- 全体レイアウト ---------    */
    .wrapper{
        max-width: 1000px;
        margin:0 auto;
        padding:0 4%;
        display: block;
        justify-content: center;
    }
    aside{
        width: 50%;
    }
    article{
        width: 100%;
    }

    /*    --------- バナー ---------    */
    .banner{
        display: block;
        padding:0% 0% 10% 0%;
        gap:1rem;
    }
    
    .banner img{
        width: 100%;
    }

    /*    --------- 仕事歴 ---------    */
    .management{
        display: block;
        padding-bottom:2rem;
    }
    .manage-left{
        width: 100%;
    }

    /*    --------- スキル・自己紹介 ---------    */
    .skill-wrappper{
        display: block;
    }
    .skill{
        width: 80%;
        margin-bottom: 4rem;
    }
    .profile img{
        float: none !important;
    }
    /*    --------- 現在 ---------    */
    .now{
        display: block;
        padding-bottom:2rem;
    }
    .now-left{
        width: 100%;
    }

    /*    --------- iframe読込みyoutube ---------    */
    /*    --------- iframe読込みお問合せ ---------    */
    iframe{
        width: 100%;
    }
}