/* 共通 -----------------------------------------------*/
* {
    box-sizing: border-box;
}
body{
    /* font-family: "Zen Old Mincho", serif; */
    font-size: 100%;

}
a {
    text-decoration: none;
    color:inherit;
}
li{
    list-style: none;
    padding:2px 20px;
    background-color: #ffffff;
    transition: all 0.2s;
}
li:hover{
    box-shadow : 0px 1px 1px 0px #989898;
    translate: 0 2px;
}
header p,
footer p{
    padding:2px 20px;
    background-color: #ffffff;
    transition: all 0.2s;
}
header p:hover,
footer p:hover{
    box-shadow : 0px 1px 1px 0px #989898;
    translate: 0 2px;
}
h2{
    font-weight: normal;
    margin-bottom: 40px;
}
span{
    background-color: #eaeaea;
}

/* ナビ -------------------------------------------------------*/
ul{
    display: flex;
    gap: 40px;
}

/* 全体レイアウト -----------------------------------------------*/
header,footer,nav,main{
    width: 100%;
    padding:30px 200px;
}
section{
    width: 100%;
    padding:15px;
    background-color: #ffffff;
    margin-bottom: 60px;
}
header,footer{
    background-color: #dfdfdf;
    text-align: right;
}
header p,footer p{
    background-color: #ffffff;
    display: inline-block;
    padding:2px 20px;
}
nav{
    background-color: rgb(236, 236, 236);
    margin-bottom: 60px;
}
main{
    /* background-color: rgb(201, 255, 237); */
}

/* 配列 -----------------------------------------------*/
.items img{
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    transition: all 0.5s;
}
.items{
    display: flex;
    gap:10px;
    justify-content: center;
    flex-wrap: wrap;
}
.items img:hover{
    scale: 0.95;
}
h4{
    font-size: 1.2rem;
    font-weight: normal;
}

/* 監視 -----------------------------------------------*/
.vh100{
    height: 100vh;
}
.layout1{
    display: grid;
    grid-template-columns: 2fr 1fr;
    place-items: center;
}

/* 監視2forEach -----------------------------------------*/
.layout2{
    display: grid;
    grid-template-columns:1fr 1fr;
    place-items: center;
}

/* モーダル --------------------------------------------*/
.layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0,0.6);
    opacity: 0;
    visibility: hidden; 
}
.layer.active{
    opacity: 1;
    visibility: visible;
}
.modal{
    width: 600px;
    height: 400px;
    transition: all 1s;
    background-color: rgb(255, 255, 255);
    border: 1px solid #989898;
    border-radius: 10px;
    display: grid;
    place-content: center;
    text-align: center;
    margin: auto;

    opacity: 0;
    visibility: hidden;
    transition: all 1.2s;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
.modal.active{
    opacity: 1;
    visibility: visible;

    
}
.close,.click{
    cursor: pointer;
    border: 1px solid #989898;
    padding:2px 20px;
    background-color: #ffffff;
    display: inline-block;
}

/* アコーディオンメニュー --------------------------------------------*/
.menu-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
    background-color: white;
    border: 1px solid #989898;
    cursor: pointer;
    padding:15px;
    cursor: pointer;
}
.toggle_btn {
    position: relative;
    width: 1.2rem;
    height: 1.2rem;
}
.toggle_btn::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: black;
    transition: .5s;
}
.toggle_btn.active::before {
    transform: translateX(-10px);
    opacity: 0;
}
.toggle_btn::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: black;
    transform: rotate(90deg);
    transition: .5s;
}
.toggle_btn.active::after {
    transform: rotate(0deg);
}
.menu-box{
    width: 40%;
    height: auto;
}
.menu-items{
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    border: solid 1px #989898;
    border-top: none;
    transition: all 1s;
}
.menu-items.active{
    opacity: 1;
    visibility: visible;
}

.menu-item{
    background-color: rgb(228, 254, 254);
    padding:15px;
    cursor: pointer;  
}
.menu-item:hover{
    font-weight: bolder;
}
.menu-item:not(:last-child){
    border-bottom: 1px solid #989898;
}
/* スライドメニュー --------------------------------------------*/
.menuB{
    background-color: #eaeaea;   
    width: 800px;
    height: 100vh;
    position: relative;
}
.toggle_open{
    padding: 15px;
    text-align: right;
    cursor: pointer;
}
.toggle_close{
    cursor: pointer;
    padding: 15px;
    text-align: right;
}
.menu-boxB{
    background-color: #ffffff;   
    border:1px solid #989898;
    width: 300px;
    height: 100%;
    position: absolute;
    top:0;
    left: 800px;

}
.menu-itemB{
    padding: 15px;
    cursor: pointer;
    background-color: rgb(228, 254, 254);    
}
.menu-itemB:not(:last-child){
    border-bottom: 1px solid #989898;
}
.menu-itemB:hover{
    font-weight: bolder;
    background-color: rgb(196, 253, 253);
}